.container {
  height: 230px;
  background: var(--gray);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  transition-duration: 0.2s;

  &:hover {
    transform: translateY(-12px);
    box-shadow: white 0 0 25px;
  }

  span {
    background: var(--gray);
    border-radius: 12px;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;

    p {
      background-image: linear-gradient(90deg, var(--green), var(--pink));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media (max-width: 390px) {
  .container {
    padding: 5px;

    span {
      padding: .7rem 1rem;
      font-size: 1.3rem;
    }
  }
}
